html{
    height: 100%;
}

body{
    height: 98%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.principal{
    height: 100%;
    display: grid;
    place-items: center;
}

.principal button{
    height: 20%;
    width: 40%;
}