html {
    height: 100%;
}
body {
    height: 90%;
    display: grid;
    grid-template-columns: 1.9fr .1fr;
    background-image: url('animals.jpg');
    background-size: cover;
    transition: all 0.5s;
}

#start{
    text-align: center;
    display: grid;
    place-content: center;
    padding-bottom: 2%;
    height: 100%;
    width: 100%;
}

#startMemo{
    padding-top: 30%;
    padding-bottom: 30%;
}

.LEFT{
    height: inherit;
}

.MID{
    height: inherit;
    display: grid;
    place-items:center ;
    grid-template-rows:.1fr 4.8fr .1fr ;
    transition: all 0.2s;
}

.RIGHT{
    display: grid;
    place-items:center;
}

.Rboard{
    height: inherit;
    display: grid;
    text-align: center;
    place-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 5%;
    border: solid;
    padding-top: 0%;
    padding: 5%;
    text-align: center;    
    background-color: white;
    opacity: .8;
    border-radius: 15px;
    transition: all 0.5s;
    width: fit-content;
}

.board{
    height: 100%;
    width: 50%;
    display: grid;
    place-items: center;
    text-align: center;
    transition: all 0.35s;
}

.Rboard:hover{
    transform: scale(1.10);
    box-shadow: 0 0 5px rgb(0, 0, 0);
}

#restart {
    display: none;
}

#save {
    display: none;
}

.finalStage{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.message {
    text-align: center;
}

.notMessage {
    display: none;
}

.cont {
    display: block;
    height: 80%;
    width: 60%;
}

.contMR {
    display: block;
    height: 60%;
    width: 70%
}

#myResults{
    padding: 5%
};

.contR {
    display: block;
    height: 60%;
    width: 40%;
}

.notCont {
    display: none;
}

.notContEJ {
    display: none;
}

.notContR {
    display: none;
}

.notContRboard {
    display: none;
}

.notContM {
    display: none;
}

.notContMR {
    display: none;
}

.MID .rf {
    text-align: center;
}

.MID .p {
    text-align: center;
}

.MID .F {
    text-align: center;
}

.tiempo {
    padding-top:3%;
    text-align: center;
    font-size: 130%;
}

.notTiempo {
    display: none;
}

.espacioJuego {
    padding-top: 0%;
    padding: 5%;
    display: grid;
    place-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    aspect-ratio: 1;
    transition: all 0.2s;
    height: 70%;
    width:  50%;
}

@media (max-width: 646px) {
    .espacioJuego { 
      padding-left:12% ;
      height: 100%;
      width: 95%;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(6, 1fr);
    }
    .MID{
        height: 100%;    
    }
    .switch{
        font-size:15px ;
    };
  }

.boardOnsel{
    text-align: center;
    background-color: yellow;
    transition: all 0.2s; 
}

.boardCorrecto{
    height: 100%;
    width: 50%;
    display: grid;
    place-items: center;
    text-align: center;
    background-color: green;
    border-radius: 150px;
    transition: all 0.35s;
}

.boardIncorrecto{
    height: 100%;
    width: 50%;
    display: grid;
    place-items: center;
    text-align: center;
    background-color: red;
    border-radius: 150px;
    transition: all 0.35s; 
}

.espacioJuego .marco {
    height: 90%;
    width: 90%;
    text-align: center;
    margin: .5%;
    border: solid;
    display: grid;  
    background-color: white;
    opacity: 0.8;
    transition: all 0.5s;
}

.espacioJuego .marco .hover {
    height: 90%;
    width: 90%;
    text-align: center;
    margin: 1%;
    border: solid;
    display: grid;
    transform: scale(1.20);
    box-shadow: 0 0 5px orange;
    z-index: 9999;
    pointer-events:all;
}

.espacioJuego .marco .noHover {
    height: 90%;
    width: 90%;
    text-align: center;
    margin: 1%;
    border: solid;
    display: grid;
    transform: scale(1);
    box-shadow: 0 0 5px orange;
    z-index: 9999;
    pointer-events:all;
}

.espacioJuego .marco .carta{
    height: 100%;
    width: 100%;   
}

.noSwitch{
    display: none;
}

.switch{
    display: inline-block;
}

.espacioJuego .marco .switch{
    background-color: aqua;
    width: 100%;   
    cursor: pointer;
    height: 100%;
    transition: all 0.2s;
}

.espacioJuego .marco .switchX{
    background-color: aqua;
    width: 100%;   
    cursor: pointer;
    height: 0%;
    transition: all 0.2s;
}

.espacioJuego .marco .switch:active{
    background-color: red;
}

input[type='submit']{
    transition: all 0.5s;
}

input[type='submit']:hover{
    transform: scale(1.15);
    box-shadow: 0 0 5px black;
    z-index: 9999;
}

#rightB {
    list-style-type: none;
}

#rightB li {
    padding-bottom: 2%;
    margin-bottom: 3%;
    margin-right: 10%;
    list-style-type: none;
    border-bottom: 1px solid rgb(30, 182, 187) ;
}

.marco form {
    height: 100%;
    background-size: contain;
    background-position: center;
}

.marco .id {
    display: none;
    opacity: 0;
    transition: all 0.2s;
}

.marco .idVisible {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: all 0.2s;
}

li {
    text-align: left;
    padding: 0;
}

ul {
    padding: 0;
}

#myButton {
    height: 100% ;
    width: 100% ;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 5%
};