<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AJAX TEST</title>    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<link rel="stylesheet" style="text/css" href="{{url_for('static',filename='main_memo.css')}}">
<body>
    <div id = "page-content" class="MID">
        <div class="container-128">
            <a href="{{url_for('index')}}" class="button-87">
                <div class="text-259">Portfolio</div>
            </a>
        </div>         
        <form id="clear" class="carta" method="get">                    
             <button class="noSwitch" type="submit" id="salir">SALIR</button>                    
        </form>                
        <div class="boardAdj">
            <div class="tiempo" id="cuenta-regresiva"></div>
            <div id='container' class="cont">
                <button class="button-90" id="myButton" onclick="changeText()">¿PERROS O GATOS?</button>
                <script>
                  function changeText() {
                    var button = document.getElementById("myButton");
                    if (button.innerHTML === "Perros") {
                      button.innerHTML = "Gatos";
                    } else {
                      button.innerHTML = "Perros";
                    }
                  }
                </script>
            </div>
            <form id="start" class="carta" method="get">        
                <input hidden name="id" id="id" value="x">
                <input id='startMemo' class="switch" type="submit" value=" INICIAR MEMORAMA " disabled/>             
            </form>    
            <div class="finalStage">
                <form id="save" class="carta" method="get">                    
                    <button class="switch" type="submit" > Guardar </button>             
                </form>    
                <form id="restart" class="carta" method="get">                                    
                    <button class="switch" type="submit">Reiniciar </button>            
                </form>    
            </div>
            <div id='container' class="contMR">
                <button class="button-90" id="myResults" onclick="viewResults()">VER RESULTADOS</button>
            </div>
            <div id="message" class="message"></div>
            <div id="rf" class="rf"></div>
            <div id="PA" class="p"></div>
        </div>        
        <div class="notContEJ">
            <div class="marco">
                <form id="load-data1" class="carta" method="post">                    
                    <input hidden name="id" id="id" value="1">
                    <input class="switch" type="submit" value=" ELEGIR "/>                    
                    <div class="id" id="data1"></div>                  
                </form>                
            </div>
            <div class="marco">
                <form id="load-data2" class="carta" method="post">                    
                    <input hidden name="id" id="id" value="0.1">
                    <input class="switch" type="submit" value=" ELEGIR "/>                    
                    <div class="id" id="data2"></div>                  
                </form>                
            </div>
            <div class="marco">
                <form id="load-data3" class="carta" method="post">                    
                    <input hidden name="id" id="id" value="2">
                    <input class="switch" type="submit" value=" ELEGIR "/>                    
                    <div class="id" id="data3"></div>                  
                </form>                
            </div>
            <div class="marco">
                <form id="load-data4" class="carta" method="post">                    
                    <input hidden name="id" id="id" value="0.2">
                    <input class="switch" type="submit" value=" ELEGIR "/>                    
                    <div class="id" id="data4"></div>                  
                </form>                
            </div>
            <div class="marco">
                <form id="load-data5" class="carta" method="post">                    
                    <input hidden name="id" id="id" value="3">
                    <input class="switch" type="submit" value=" ELEGIR "/>                    
                    <div class="id" id="data5"></div>                  
                </form>                
            </div>
            <div class="marco">
                <form id="load-data6" class="carta" method="post">                    
                    <input hidden name="id" id="id" value="0.3">
                    <input class="switch" type="submit" value=" ELEGIR "/>                    
                    <div class="id" id="data6"></div>                  
                </form>                
            </div>
            <div class="marco">
                <form id="load-data7" class="carta" method="post">                    
                    <input hidden name="id" id="id" value="4">
                    <input class="switch" type="submit" value=" ELEGIR "/>                    
                    <div class="id" id="data7"></div>                  
                </form>                
            </div>
            <div class="marco">
                <form id="load-data8" class="carta" method="post">                    
                    <input hidden name="id" id="id" value="0.4">
                    <input class="switch" type="submit" value=" ELEGIR "/>                    
                    <div class="id" id="data8"></div>                  
                </form>                
            </div>
            <div class="marco">
                <form id="load-data9" class="carta" method="post">                    
                    <input hidden name="id" id="id" value="5">
                    <input class="switch" type="submit" value=" ELEGIR "/>                    
                    <div class="id" id="data9"></div>                  
                </form>                
            </div>
            <div class="marco">
                <form id="load-data10" class="carta" method="post">                    
                    <input hidden name="id" id="id" value="0.55">
                    <input class="switch" type="submit" value=" ELEGIR "/>                    
                    <div class="id" id="data10"></div>                  
                </form>                
            </div>
            <div class="marco">
                <form id="load-data11" class="carta" method="post">                    
                    <input hidden name="id" id="id" value="6">
                    <input class="switch" type="submit" value=" ELEGIR "/>                    
                    <div class="id" id="data11"></div>                  
                </form>                
            </div>
            <div class="marco">
                <form id="load-data12" class="carta" method="post">                    
                    <input hidden name="id" id="id" value=".66">
                    <input class="switch" type="submit" value=" ELEGIR "/>                    
                    <div class="id" id="data12"></div>                  
                </form>                
            </div>
            </div>
        </div>    
    </div>
    <div class="RIGHT">
        <div class="notContRboard">
            <li id="rightB">
                Resultados:
                <script>
                    
                </script>
            </li>
        </div>   
        <div id='container' class="notContR">
            <button onclick="closeResults()">Volver</button>
        </div>
        <script src="{{ url_for('static', filename='modifyCssRule.js') }}"></script>
        <script src="{{ url_for('static', filename='inGame.js') }}"></script>
        <script src="{{ url_for('static', filename='inResults.js') }}"></script>
        <script src="{{ url_for('static', filename='dogs.js') }}"></script>
        <script src="{{ url_for('static', filename='cats.js') }}"></script>
        <script src="{{ url_for('static', filename='go.js') }}"></script>
        <script src="{{ url_for('static', filename='cr.js') }}"></script>
        <script src="{{ url_for('static', filename='ran.js') }}"></script>
        <script src="{{ url_for('static', filename='startAjax.js') }}"></script>
        <script src="{{ url_for('static', filename='AJAX.js') }}"></script>
        <script src="{{ url_for('static', filename='CLEAR.js') }}"></script>    
        <script src="{{ url_for('static', filename='radioListener.js') }}"></script>
        <script src="{{ url_for('static', filename='listenerHoverBot.js') }}"></script>
        <script> 
            $(document).ready(function() {
                gameOverSave('#save');
                clearSC('#clear');
                clearSC('#restart');
                initStart('#start','#message');
                setupForm('#load-data1', '#message' ,'#data1','#rf','#PA');
                setupForm('#load-data2', '#message' ,'#data2','#rf','#PA');
                setupForm('#load-data3', '#message' ,'#data3','#rf','#PA');
                setupForm('#load-data4', '#message' ,'#data4','#rf','#PA');
                setupForm('#load-data5', '#message' ,'#data5','#rf','#PA');
                setupForm('#load-data6', '#message' ,'#data6','#rf','#PA');
                setupForm('#load-data7', '#message' ,'#data7','#rf','#PA');
                setupForm('#load-data8', '#message' ,'#data8','#rf','#PA');
                setupForm('#load-data9', '#message' ,'#data9','#rf','#PA');
                setupForm('#load-data10', '#message' ,'#data10','#rf','#PA');
                setupForm('#load-data11', '#message' ,'#data11','#rf','#PA');
                setupForm('#load-data12', '#message' ,'#data12','#rf','#PA');
            });
        </script>
    </div>   
</body> 
</html>