<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" style="text/css" href="{{url_for('static',filename='index.css')}}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIENVENIDO</title>    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='menuDesliz.js') }}"></script>
</head>
<body>
<!--    <script> 
        $(document).ready(function() {
            gameOverSave('#save');
-->
<div class="principal">
    <button id="iniciar" onclick="x()">INICIAR</button>
    <button id="memorama" onclick="y()">MEMORAMA</button>
    <button id="terminar" onclick="z()">TERMINAR</button>
</div>
</body>
</html>